.ant-menu-submenu-title {
  padding: 8px 12px !important;
  padding-right: 6px !important;
  height: 48px !important;
  min-width: 48px !important;
  border-radius: 4px !important;
  left: -4px !important;
}

.ant-menu-inline {
  background-color: transparent !important;
}