.button-link {
  padding: 0;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 16px;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 23px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.user-name {
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
  margin-bottom: 4px;
  color: var(--black);
}

.user-nik {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-bottom: 0;
  color: #787878;
}
